<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.meida.freedconn">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 过滤掉没有蓝牙BLE功能的蓝牙按时required为true时，则应用只能在支持BLE的Android设备上安装运行；
         required为false时，Android设备均可正常安装运行，需要在代码运行时判断设备是否支持BLE feature： -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name="com.meida.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name=".GuideActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeviceRemoteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingVersionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BindActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NetworkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NetworkChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NetworkMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NetworkHandleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NetworkNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebActivity"
            android:screenOrientation="portrait" />

        <!-- 本地电话状态（通话状态）的广播接收器 -->
        <!-- 网络通话与本地电话的互斥处理 -->
        <receiver android:name="com.meida.receiver.IncomingCallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <!-- 微信分享 start -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信分享 end -->

        <!-- 支付宝 start -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 支付宝 end -->

        <!-- 微信支付 start -->
        <meta-data
            android:name="WX_APPID"
            android:value="wxdf549666adf94872" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 微信支付 end -->

    </application>

</manifest>